.about {
  width: 320px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 768px;
    text-align: center;
  }
}

.about__title {
  font-family: "Alumni Sans", "Arial", "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  margin: 40px 12px 15px 15px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    margin: 60px auto 20px auto;
  }
}

.about__sub-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 26px 36px 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0 auto 36px auto;
  }
}

.about > span {
  width: 290px;
  margin: 0 15px 36px 15px;

  @media (min-width: $tablet-width) {
    width: 502px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin:  0 auto 36px auto;
  }
}

.about__description--add {
  display: none;
}

.about__image {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    width: 678px;
    height: 345px;
    margin-bottom: 120px;
  }
}

.about__wrapper {
  display: flex;
}

.about__video {
  width: 320px;
  height: 170px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 270px;
    margin-bottom: 0;
    position: absolute;
    bottom: 35px;
    left: 249px;
    z-index: 1;
  }
}

.about__youtube {
  margin-bottom: 40px;
  width: 320px;
  height: 170px;

  @media (min-width: $tablet-width) {
    width: 270px;
    position: absolute;
    bottom: 35px;
    left: 249px;
    margin-bottom: 0;
  }
}

.about__video-play {
  position: absolute;
  bottom: 89px;
  left: 124px;
  width: 72px;
  height: 72px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border: none;
  z-index: 1;
  background-image: url("../../img/sprite/play-icon.svg");

  @media (min-width: $tablet-width) {
    bottom: 84px;
    left: 348px;
  }

  &:hover {
    background-image: url("../../img/sprite/play-icon-hover.svg");
    background-size: 72px 72px;
  }

  &:focus {
    background-image: url("../../img/sprite/play-icon-focus.svg");
    background-size: 72px 72px;
    border: none;
    outline: none;
  }

  &:active {
    background-image: url("../../img/sprite/play-icon-active.svg");
    background-size: 72px 72px;
  }

  &:disabled {
    background-image: url("../../img/sprite/play-icon-disabled.svg");
    background-size: 72px 72px;
  }
}

.about__video-play-icon {
  width: 72px;
  height: 72px;
  z-index: 2;
}
