.about {
  width: 320px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;

  // @media (min-width: $desktop-width) {
  //   width: 1366px;
  // }
}

.about__title {
  font-family: "Alumni Sans", "Arial", "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  margin: 40px 12px 15px 15px;
}

.about__sub-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 26px 36px 15px;
}

.about > span {
  width: 290px;
  margin: 0 15px 36px 15px;
}

.about__description--add {
  display: none;
}

.about__image {
  margin-bottom: 36px;
}

.about__wrapper {
  display: flex;
  position: relative;
}

.about__video {
  width: 320px;
  height: 170px;
  margin-bottom: 40px;
}

.about__youtube {
  margin-bottom: 40px;
  width: 320px;
  height: 170px;
}

.about__video-play {
  position: absolute;
  top: 49px;
  left: 124px;
  width: 72px;
  height: 72px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border: none;
}

.about__video-play-icon {
  width: 72px;
  height: 72px;
}
