.faq {
  background-color: #F8F9FC;
}

.faq__container {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.faq__title {
  font-family: "Alumni Sans", "Arial", "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  width: 290px;
  text-align: center;
  margin: 70px auto 35px auto;
}

.faq__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 10px;
  width: 290px;
  padding: 0;
  margin: 0 auto 35px auto;
}

.faq__item-button {
  width: 140px;
  min-height: 46px;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(16, 38, 84, 0.20);
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  color: $purple;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  cursor: pointer;

  &:hover {
    border: 1px solid $purple;
  }

  &:focus {
    border: 1px solid $purple;
    outline: none;
  }

  &:active {
    background: linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%);
    color: $white;
    border: none;
  }

  &:disabled {
    color: #C8C9CC;
    background-color: $white;
    border: 1px solid #C8C9CC;
    pointer-events: none;
  }
}

.faq__item-button--active {
  background: linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%);
  color: $white;
  border: none;
}

.faq__roster {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 70px;
  width: 290px;
}

.faq__roster-item {
  display: flex;
  flex-direction: column;
  width: 290px;
  border-bottom: 1px solid #74819C;
  position: relative;
}

.faq__roster-item:first-child {
  border-top: 1px solid #74819C;
  border-bottom: 1px solid #74819C;
}

.faq__roster-item > span {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin: 20px 52px 20px 0;
}

.faq__roster-item > p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  width: 238px;
  margin: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.faq__roster-button {
  position: absolute;
  top: 25px;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #F8F9FC;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  background-size: 30px 30px;
}

.faq__roster-button[data-state="plus"] {
  background-image: url("../../img/sprite/plus.svg");
}

.faq__roster-button[data-state="plus"]:hover {
  background-image: url("../../img/sprite/plus-hover.svg");
}

.faq__roster-button[data-state="plus"]:focus {
  background-image: url("../../img/sprite/plus-focus.svg");
  outline: none;
}

.faq__roster-button[data-state="plus"]:disabled {
  background-image: url("../../img/sprite/plus-disabled.svg");
  pointer-events: none;
}


.faq__roster-button[data-state="minus"] {
  background-image: url("../../img/sprite/minus.svg");
}
