.form {
  background: linear-gradient(to bottom, $purple 0px, $purple 394px, transparent 394px, transparent 100%);

  @media (min-width: $desktop-width) {
    background: none;
  }
}

.form__container {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1366px;
    flex-direction: row;
  }
}

.form__fields {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $desktop-width) {
    width: 683px;
    background: linear-gradient(to bottom, $purple 0px, $purple 394px, transparent 394px, transparent 100%);
  }
}

.form__fields-title{
  font-family: "Alumni Sans", "Arial", "Helvetica", sans-serif;
  font-size: 32px;
  color: $white;
  font-weight: 600;
  line-height: 32px;
  width: 290px;
  margin: 70px auto 15px auto;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
    width: 440px;
    margin: 60px auto 36px auto;
  }

  @media (min-width: $desktop-width) {
    width: 447px;
    margin: 60px auto 36px auto;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 440px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 447px;
  }
}

.form__fields-name {
  width: 290px;
  min-height: 36px;
  background-color: transparent;
  border: 1px solid $purple;
  border-bottom: 1px solid #74819C;
  cursor: pointer;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  color: $white;
  font-weight: 400;
  line-height: 22px;
  margin-left: 15px;
  margin-bottom: 36px;
  padding: 0;
  padding-left: 5px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 205px;
    margin-bottom: 0;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 215.5px;
  }

  &:hover {
    border-bottom: 1px solid $white;
  }

  &:focus {
    border: 1px solid $white;
    outline: none;
  }

  &:disabled {
    opacity: 0.4px;
    pointer-events: none;
  }
}

.form__fields-name::placeholder {
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-left: 15px;
}

.form__fields-name-error {
  font-size: 14px;
  color: #FF121F;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  position: absolute;
  top: 155px;
  left: 20px;
  display: none;

  @media (min-width: $tablet-width) {
    width: 205px;
    top: 185px;
    left: 180px;
  }

  @media (min-width: $desktop-width) {
    left: 120px;
  }
}

.form__fields-tel {
  width: 290px;
  min-height: 36px;
  background-color: transparent;
  border: 1px solid $purple;
  border-bottom: 1px solid #74819C;
  cursor: pointer;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  color: $white;
  font-weight: 400;
  line-height: 22px;
  margin-left: 15px;
  margin-bottom: 36px;
  padding: 0;
  padding-left: 5px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 205px;
    margin-bottom: 0;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 215.5px;
  }

  &:hover {
    border-bottom: 1px solid $white;
  }

  &:focus {
    border: 1px solid $white;
    outline: none;
  }

  &:disabled {
    opacity: 0.4px;
    pointer-events: none;
  }
}

.form__fields-tel::placeholder {
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-left: 15px;
}

.form__fields-tel-error {
  display: none;
  font-size: 14px;
  color: #FF121F;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  position: absolute;
  top: 225px;
  left: 20px;

  @media (min-width: $tablet-width) {
    width: 205px;
    top: 185px;
    left: 400px;
  }

  @media (min-width: $desktop-width) {
    left: 350px;
  }
}


.form__fields-submit {
  font-family: "Roboto Condensed" "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  color: $white;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  width: 290px;
  min-height: 60px;
  border: 2px solid $white;
  cursor: pointer;
  padding: 0;
  margin: 0 auto 70px auto;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    width: 440px;
    min-height: 66px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 447px;
  }

  &:hover {
    background-color: $white;
    color: #103AAE;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.80);
    border: 2px solid $black;
    color: #103AAE;
  }

  &:active {
    background-color: $white;
    color: $purple;
  }

  &:disabled {
    background-color: transparent;
    border: 2px solid $white;
    opacity: 0.5;
    pointer-events: none;
  }
}

.form__contacts {
  display: flex;
  flex-direction: column;
}

.form__contacts-title {
  font-family: "Alumni Sans", "Arial", "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  width: 290px;
  margin: 40px auto 15px auto;


  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
    width: 440px;
    margin: 60px auto 36px auto;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 60px 103px 36px 103px;
    text-align: start;
  }
}

.form__space {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 220px 220px;
    margin-left: 164px;
    row-gap: 15px;
    column-gap: 60px;
    margin-bottom: 60px;
    position: relative;

    &::before {
      content: "";
      width: 1px;
      height: 117px;
      background-color: #74819C;
      position: absolute;
      top: 0;
      left: 220px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 103px;
  }
}

.form__adress {
  display: flex;
  flex-direction: column;
  margin-left: 15px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.form__adress-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    margin-bottom: 0;
    line-height: 24px;
  }
}

.form__adress-adress {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 22px;
    margin-top: 5px;
  }
}

.form__schedule {
  display: flex;
  flex-direction: column;
  margin-left: 15px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.form__schedule-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    margin-bottom: 0;
    line-height: 24px;
  }
}

.form__schedule-time {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 22px;
    margin-top: 5px;
  }
}

.form__tel {
  display: flex;
  flex-direction: column;
  margin-left: 15px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.form__tel-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    margin-bottom: 0;
    line-height: 24px;
  }
}

.form__tel-tel {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 28px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  color: $purple;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 22px;
  }
}

.form__email {
  display: flex;
  flex-direction: column;
  margin-left: 15px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.form__email-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    margin-bottom: 0;
    line-height: 24px;
  }
}

.form__email-email {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  color: $purple;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 22px;
  }
}
