.reviews {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.reviews-title {
  font-family: "Alumni Sans", "Arial", "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  width: 240px;
  text-align: center;
  margin: 40px auto 40px auto;
}

.swiper-slide {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 240px;
  min-height: 328px;
  background-color: #1C3374;
  display: flex;
  flex-direction: column;
}

.swiper-slide__image {
  width: 68px;
  height: 68px;
  margin: 30px auto 10px auto;
  display: flex;
  border-radius: 50%
}

.swiper-slide__name {
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  color: $white;
  font-weight: 400;
  line-height: 20px;
  margin: 0 auto 16px auto;
}

.swiper-slide__review {
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  color: $white;
  font-weight: 300;
  line-height: 22px;
  width: 190px;
  text-align: center;
  margin: 0 auto 30px auto;
}
